extends layout

block content
  h1 Welcome Admin
  p There is a table with the entire information
  div
  table
    thead
      tr
      th Id
      th Firstname
      th Lastname
      th Address

    tbody
      each info in list
        tr
          td #{info.id}
          td #{info.firstname}
          td #{info.lastname}
          td #{info.address}

 
