extends layout

block content
  h1  #{title}
  p Welcome to #{title}
  h1  Hello world!
 

    form(method='POST' action='/person')
          div
            label(for='name') Name:
            input#name(type='text', placeholder='Entry your Name' name='name')
          div
            label(for='lastname') Last Name:
            input#lastname(type='text', placeholder='Entry you Lastname' name='lastname')
          div
            label(for='favoriteBook') Favorite Book:
            input#favoriteBook(type='text', placeholder='title of book' name='favoriteBook')
          div
            label(for='password') Password:
            input#pw.form-control(type='password' name='password')
          button(type='submit') Sign up
  
